{
    "{apps,libs}/**/*.{ts,tsx}": [
        "nx affected --target lint --uncommitted --fix true",
        "nx format:write --uncommitted"
    ],
    "*": [
        "npx nx format:write --files"
    ]
}
